* {
    font-family: Arial, sans-serif;
}

body {
    background-color: #f3f4f6;
}

h1, h2, h3 {
    text-align: center;
}

img {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 5px;
}

.whitebox {
    background-color: white;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 15px;
}

.whitebox p {
    text-indent: 50px;
}

.whitebox p.noindent {
    text-align: center;
    text-indent: 0px;
}